<div class="">
    <div class="">
        <picture>
            <source media="(max-width:540px)" srcset="assets/images/product_bannerMbl.webp" alt="">
            <source media="(min-width:540px)" srcset="assets/images/product_banner04.webp" alt="">
            <img src="assets/images/product_banner04.webp" class="w-100" alt="">
        </picture>
        
     </div>
    <div class="py-3">
        <div class="container">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none text-dark"><b>Home</b></a></li>
                    <li class="breadcrumb-item"><a routerLink="/products" class="text-decoration-none text-dark"><b>Products</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dyeing Auxiliaries</li>
                </ol>
            </nav>
            <!-- breadcrumb ends -->

            <div class="export_content mt-5">
                <div class="section-title position-relative mb-4" data-aos="fade-up" data-aos-duration="1500">
                    <!-- <div class="section-subtitle title_center">
                        <h3 class="">EXPORT / ZDHC CERTIFIED</h3>
                    </div> -->
                    <h2 class="text-start">DYEING AUXILIARIES</h2>
                    <p>
                        At Amar Tex Chem, we specialize in manufacturing and supplying high-quality Dyeing auxiliaries for Textile Dyeing process.
                    </p>
                    <p>
                        Dyeing auxiliaries are crucial for achieving high-quality dyeing results. They enhance dye exhaustion on textile 
                        substrates by forming complexes with dyes. In aqueous-based dyeing processes, auxiliaries like chelating agents, 
                        dispersing agents, leveling agents, electrolytes, pH controllers, and surfactants interact with dyes on both natural 
                        and synthetic fibers.
                    </p>
                </div>
                <div class="row domestic_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/auxil-product-01.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Wetting & Rewetting Agents</h5>
                                    <p><strong>WA 7X & WA 9X</strong></p>
                                    <ul>
                                        <li>Biodegradable</li>
                                        <li>excellent penetrating & emulsifying property</li>
                                        <li>good compatibility with other chemicals</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="https://amartexchem.com/wp-content/uploads/2024/06/wetting-rewetting-agents.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/auxil-product-02.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Scouring Enzyme</h5>
                                    <p><strong>SE 280</strong></p>
                                    <ul>
                                        <li>Biodegradable.</li>
                                        <li>Excellent property of dispersing, emulsifying, scouring.</li>
                                        <li>Removes impurities</li>
                                        <li>Good anti-staining function.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="https://amartexchem.com/wp-content/uploads/2024/06/Scouring-Agent.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/auxil-product-03.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Water sonftning agent</h5>
                                    <ul>
                                        <li>Excellent chelating ability </li>
                                        <li>Good dispersity for insoluble calcium soap.</li>
                                        <li>Stable in alkali, oxidizing agent.</li>
                                        <li>Can be applied in scouring, bleaching, dyeing, printing, soaping and finishing process, etc.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-auto pt-0 p-3">
                                <a href="https://amartexchem.com/wp-content/uploads/2024/06/Sequesting-agent.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/auxil-product-04.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Leveling Agent</h5>
                                    <ul>
                                        <li>Improves dispersing ability and dissolving capacity of reactive dyes and direct dyes. Prevents coagulation of dyes caused by salting-out effect.</li>
                                        <li>Strong dispersing ability for impurities.</li>
                                        <li>Stable in electrolyte and alkali. Almost no foam.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="https://amartexchem.com/wp-content/uploads/2024/06/Leveling-agent.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/auxil-product-05.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Fixing Agents</h5>
                                    <ul>
                                        <li>Significantly improves washing order fastness, wet rubbing color fastness of direct dyes and reactive dyes.</li>
                                        <li>Extremely little colour fading</li>
                                        <li>no colour change</li>
                                        <li>can be used together with cationic or nonionic softner</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-auto p-3 pt-0">
                                <a href="https://amartexchem.com/wp-content/uploads/2024/06/MBO-88.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/auxil-product-01.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Green Acid</h5>
                                    <ul>
                                        <li>Biodegradable</li>
                                        <li>High quality grade</li>
                                        <li>concentrate quantity</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-LV-80.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/auxil-product-02.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Cationic Softners</h5>
                                    <ul>
                                        <li>Excellent chelating ability </li>
                                        <li>Good dispersity for insoluble calcium soap.</li>
                                        <li>Stable in alkali, oxidizing agent.</li>
                                        <li>Can be applied in scouring, bleaching, dyeing, printing, soaping and finishing process, etc.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-LV-80.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/auxil-product-03.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Silicon softners</h5>
                                    <ul>
                                        <li>Excellent hydrophilicity.</li>
                                        <li>impart fabricc smooth, plump and silky hand feel,</li>
                                        <li>suitable for white colour fabric </li>
                                        <li>Easily disolves in water</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-LV-100.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>