<div>
    <div class="">
        <picture>
            <source media="(max-width:540px)" srcset="assets/images/product-mblbanner.webp" alt="">
            <source media="(min-width:540px)" srcset="assets/images/product_banner02.webp" alt="">
            <img src="assets/images/product_banner02.webp" class="w-100" alt="">
        </picture>
        
     </div>
     <div class="pt-3">
        <div class="container">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="home" class="text-decoration-none text-dark"><b>Home</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </nav>
            <!-- breadcrumb ends -->
        </div>
     </div>
     <div class="py-3">
        <div class="container">
            <!-- <div class="py-3">
                <div class="section-title position-relative mb-4">
                    <div class="section-subtitle">
                        <h3>Products</h3>
                     </div>
                    <h2 class="section_heading">Products</h2>
                </div>
            </div> -->
            <div class="pb-3">
                <!-- <h2 class="sub_heading">Choose the Product that's Right for You.</h2> -->
                <div class="about_text">Choose the <span>Product</span> that's Right for You.</div>
            </div>
            <div class="products_info" data-aos="fade-up" data-aos-duration="1500">
                <div class="mb-3">
                    <span class="para_heading">Satisfaction for Your requirement product</span>
                    <p>Explore products for your requirement, each one tested and chosen to provide outstanding quality and performance. Trust us to bring you only the best.</p>
                </div>
                <div class="mb-3">
                    <span class="para_heading">Tailored Product of Your Needs</span>
                    <p>Product tailored to your needs and desires. Our extensive range offers something for everyone.</p>
                </div>
                <div class="mb-3">
                    <span class="para_heading">Uncover the Best Product for You</span>
                    <p>Uncover the best products for you. Our commitment to quality and customer satisfaction guarantees you’ll find exactly what you’re looking for.</p>
                </div>
                <div class="mb-3">
                    <span class="para_heading">Exactly What You Need</span>
                    <p>Get exactly what you need with our comprehensive product lineup. Each item is selected to offer the best performance, value, and satisfaction tailored to your specific needs.</p>
                </div>
            </div>
            
        </div>
    </div>
        <div class="product_category background_bg py-5">
            <div class="container">
                <div class="section-title position-relative mb-4">
                    <!-- <div class="section-subtitle">
                        <h3>Select the Category</h3>
                    </div> -->
                    <!-- <h2>Select the Category</h2> -->
                     <h4 class="para_heading">Select the Category</h4>
                </div>
                <div class="row product_card">
                    <div class="col-lg-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body card_hover">
                                <a [routerLink]="['/products/zdhcexport-certified']" class="text-dark row align-items-center">
                                    <div class="col-4"><img src="assets/images/zdhc-certified.webp" class="w-100" alt=""></div>
                                    
                                    
                                    <!-- <div class="card-details pt-2">
                                        <span class="card-title">ZDHC Certified</span>
                                        <p class="text-white">ZDHC certification is just a part of moving towards green sustinable solutions</p>
                                    </div> -->
                                    <div class="col-8 pt-3">
                                        <div class="para_heading mb-2">EXPORT ORIENTED</div>
                                        <span class="card-title fw-bold">ZDHC Certified</span>
                                        <p class="">ZDHC certification is just a part of moving towards green sustinable solutions</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body card_hover">
                                <a [routerLink]="['/products/domestic-oriented']" class="text-dark row">
                                    <div class="col-4">
                                    <img src="assets/images/domestic-products-1.webp" class="w-100" alt=""></div>
                                    <!-- <div class="card-details pt-2">
                                        <span class="card-title">Domestic Oriented</span>
                                        <p class="text-white">Domestic Oriented products</p>
                                    </div> -->
                                    <div class="col-8 pt-3">
                                        <div class="para_heading mb-2">DOMESTIC ORIENTED</div>
                                        <span class="card-title fw-bold">Domestic Oriented</span>
                                        <p class="">Domestic Oriented products are designed to cater specifically to the unique needs of industries</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
</div>