<div class="">
    <div class="py-3">
        <div class="container">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="home" class="text-decoration-none text-dark"><b>Home</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>                    
                </ol>
            </nav>
            <!-- breadcrumb ends -->
            <div class="py-3 mb-5">
                <div class="section-title mb-4">
                    <!-- <div class="section-subtitle">
                        <h3>About us</h3>
                    </div> -->
                    <h2>About Us</h2>
                </div>
                <div class="about_content">
                    <div class="row" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="200">
                        <div class="col-lg-6 about_desc">
                            <div class="about_text"><span>Amar tex chem</span> is one of the leading speciality <span>chemical manufacturer</span> in India.</div>
                            <p>with over 20 years of experience in the development and manufacturing of high-performance specialty chemicals for various applications, we have innovative as well as green (Eco-frierndly) chemical solutions. We continually develop and market innovative products to optimize and enhance our portfolio, providing intelligent solutions tailored to our customers’ needs.</p>
                            <p>Our goal is to deliver the highest quality products while contributing to resource conservation.</p>
                            <p><strong>Amar Tex Chem is one of the ZDHC-certified chemical manufacturers in India.</strong></p>
                        </div>
                        <div class="col-lg-6 about_banner" data-aos="fade-up" data-aos-duration="1500">
                            <img src="assets/images/about-image-1.webp" class="w-100" alt="">
                        </div>
                    </div>
                    <div class="mt-5" data-aos="fade-up" data-aos-duration="2000">
                        <img src="assets/images/zdhc-profile.png" class="w-100" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>