<div class="">
    <div class="py-3">
        <div class="container">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="home" class="text-decoration-none text-dark"><b>Home</b></a></li>
                    <li class="breadcrumb-item"><a routerLink="products" class="text-decoration-none text-dark"><b>Products</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Domestic Oriented Products</li>
                </ol>
            </nav>
            <!-- breadcrumb ends -->

            <div class="export_content mt-5">
                <div class="section-title position-relative text-center mb-4">
                    <!-- <div class="section-subtitle title_center">
                        <h3 class="">Domestic Oriented Products</h3>
                    </div> -->
                    <h2 class="section_heading text-start">Domestic Oriented
                        Products</h2>
                </div>
                <!-- <h2 class="sub_heading text-center">EXPORT / ZDHC CERTIFIED</h2> -->
                <div class="row">
                    <div class="col-lg-4">
                        <img src="assets/images/domestic-product.png" class="w-100" alt="">
                    </div>
                    <div class="col-lg-8 export_info">
                        <p>Domestic Oriented Products is a powerful platform for change, connecting the global textile industry to enable sustainable way of chemical management.</p>
                        <p>Domestic Oriented Products marks a crucial milestone in green sustainability. However, true progress demands the holistic integration of sustainable practices into continuous innovation. Furthermore, it’s not merely about meeting standards but also striving for excellence and fostering collaboration for a brighter future.</p>
                    </div>
                </div>
                <!-- <h3 class="sub_innerheading mt-5">Anti-Static Agents</h3> -->
                <div class="row py-5 domestic_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/pacinol-lv-40.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Antistatic Spinning Lubricants</h5>
                                    <ul>
                                        <li>Antistat  LV40 for Dyed PC fibre</li>
                                        <li>Antistat LV80 & LV90 for for Dyed Synthetic fibre </li>
                                        <li>Antistat LV100 for Fresh fibre</li>
                                    </ul>
                                    <!-- <a routerLink=""> class="btn btn-success text-white rounded-0">CLICK HERE</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/polyester.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Textile Dyeing
                                        Chemicals</h5>
                                    <ul>
                                        <li>Wetting and Rewetting</li>
                                        <li>Scouring agents</li>
                                        <li>Leveling and emulsifying agent</li>
                                        <li>Green Acid differennt grades</li>
                                    </ul>
                                    <!-- <a routerLink="" class="btn btn-success text-white rounded-0">CLICK HERE</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product_image-02.png" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Conning Oils & Texturising oil</h5>
                                    <ul>
                                        <li>CO-60</li>
                                        <li>CO-100</li>
                                        <li>Textile Oil</li>
                                    </ul>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/conning-oil.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-02.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Knitting oil</h5>
                                    <ul>
                                        <li>ATC Knit 22</li>
                                        <li>ATC Knit 32</li>
                                        <li>ATC Knit 64</li>
                                    </ul>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Knitting-oil.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-03.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Poly Ethylene Glycols</h5>
                                    <ul>
                                        <li>PEG 200</li>
                                        <li>PEG 400</li>
                                        <li>PEG 600</li>
                                        <li>PEG 6000</li>
                                    </ul>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/PEG.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-04.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Mink Textile Chemicals</h5>
                                    <ul>
                                        <li>KBI</li>
                                        <li>AMH</li>
                                        <li>Green Acid</li>
                                    </ul>
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/textile-product-01.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Non ionic Agents</h5>
                                    <p>Similar To IGL Alphox</p>
                                    <ul>
                                        <li>AP200 </li>
                                        <li>AP400</li>
                                        <li>AP500</li>
                                    </ul>
                                    <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/polyester.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Other Chemicals</h5>
                                    <ul>
                                        <li>Acid Slurry (LABSA)</li>
                                        <li>Pine OIL</li>
                                        <li>Castor Oil</li>
                                        <li>Linseed Oil</li>
                                        <li>OT Paste</li>
                                        <li>DEF</li>
                                        <li>Technical Grade Urea (Imported)</li>
                                        <li>Turkey red oil (TRO)</li>
                                        <li>Light Liquid Paraffin</li>
                                    </ul>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/others-chemicals.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                
            </div>
        </div>
    </div>
</div>