<div class="">
    <div class="py-3">
        <div class="container">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none text-dark"><b>Home</b></a></li>
                    <li class="breadcrumb-item"><a routerLink="/products" class="text-decoration-none text-dark"><b>Products</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Domestic Oriented Products</li>
                </ol>
            </nav>
            <!-- breadcrumb ends -->

            <div class="export_content mt-5">
                <div class="section-title position-relative text-center mb-4">
                    <!-- <div class="section-subtitle title_center">
                        <h3 class="">Domestic Oriented Products</h3>
                    </div> -->
                    <h2 class="text-start">Domestic Oriented
                        Products</h2>
                </div>
                <!-- <h2 class="sub_heading text-center">EXPORT / ZDHC CERTIFIED</h2> -->
                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right" data-aos-duration="1500">
                        <img src="assets/images/domestic-product.png" class="w-100" alt="">
                    </div>
                    <div class="col-lg-8 export_info" data-aos="fade-left" data-aos-duration="1500">
                        <!-- <p>Domestic Oriented Products is a powerful platform for change, connecting the global textile industry to enable sustainable way of chemical management.</p>
                        <p>Domestic Oriented Products marks a crucial milestone in green sustainability. However, true progress demands the holistic integration of sustainable practices into continuous innovation. Furthermore, it’s not merely about meeting standards but also striving for excellence and fostering collaboration for a brighter future.</p> -->
                        <p>Our domestic-oriented products are designed to cater specifically to the unique needs of industries. With a focus on quality and performance, they are crafted to deliver reliable results while ensuring ease of use and durability.</p>
                        <p>Offered at competitive prices, these products are tailored to improve operational efficiency and productivity, making them a smart choice for industries seeking high-quality solutions within the domestic market.</p>
                    </div>
                </div>
                <!-- <h3 class="sub_innerheading mt-5">Antistatic Spinning Agents & Binder</h3> -->
                <div class="row py-5 domestic_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-07.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Antistatic Spinning Agents & Binder</h5>
                                    <ul>
                                        <li>Amar Spin LV 40 For P/c, P/V</li>
                                        <li>Amar Spin LV 90 for 100% (Polyester, acrylic, Nylon & PET fibre)</li>
                                        <li>Amar Spin R1661 (for 100% cotton)</li>
                                        <li>Amar Spin PI 4400/6600 (White P/C)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="/amartexchem/assets/pdf/amar_spin_lv_40.pdf" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-08.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Textile Dyeing
                                        Chemicals</h5>
                                    <ul>
                                        <li>Wetting and Rewetting</li>
                                        <li>Scouring agents</li>
                                        <li>Leveling and emulsifying agent</li>
                                        <li>Green Acid differennt grades</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="/amartexchem/assets/pdf/textile_oil.pdf" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-09.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Conning Oils & Texturizing Oil</h5>
                                    <ul>
                                        <li>Amar CO-60</li>
                                        <li>Amar CO-100</li>
                                        <li>Amar TO-190 (texturizing Oil)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="/amartexchem/assets/pdf/amar_conning_oil.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-06.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Knitting oil(washable and Non-washable)</h5>
                                    <ul>
                                        <li>Amar Knit-22</li>
                                        <li>Amar Knit-32</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-3 pt-0 mt-auto">
                                <a href="/amartexchem/assets/pdf/amar_knitting_oil.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-06.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Poly Ethylene Glycols</h5>
                                    <ul>
                                        <li>PEG 200</li>
                                        <li>PEG 400</li>
                                        <li>PEG 600</li>
                                        <li>PEG 6000</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-3 pt-0 mt-auto">
                                <a href="/amartexchem/assets/pdf/peg.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-10.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Mink Chemicals</h5>
                                    <ul>
                                        <li>Amar KBI</li>
                                        <li>Amar AMH</li>
                                        <li>Amar Green Acid</li>
                                        <li>Rossari Acetic Acid</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-3 pt-0 mt-auto">
                                <a href="#" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-11.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Non-Ionic Agents (similar to IGL)</h5>
                                    <ul>
                                        <li>AS 200</li>
                                        <li>AS 400</li>
                                        <li>AS 500</li>
                                        <li>AS 200(Apeo-Npeo free)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-3 pt-0 mt-auto">
                                <a href="#" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-12.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Other Chemicals</h5>
                                    <ul>
                                        <li>Acid Slurry (LABSA)</li>
                                        <li>Pine OIL</li>
                                        <li>Castor Oil</li>
                                        <li>Linseed Oil</li>
                                        <li>OT Paste</li>
                                        <li>DEF</li>
                                        <li>Technical Grade Urea (Imported)</li>
                                        <li>Turkey red oil (TRO)</li>
                                        <li>Light Liquid Paraffin</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="/amartexchem/assets/pdf/others_chemicals.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                
            </div>
        </div>
    </div>
</div>