<div class="">
    <div class="py-3">
        <div class="container">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="home" class="text-decoration-none text-dark"><b>Home</b></a></li>
                    <li class="breadcrumb-item"><a routerLink="products" class="text-decoration-none text-dark"><b>Products</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page">ZDHC Export Certified</li>
                </ol>
            </nav>
            <!-- breadcrumb ends -->

            <div class="export_content mt-5">
                <div class="section-title position-relative text-center mb-4">
                    <!-- <div class="section-subtitle title_center">
                        <h3 class="">EXPORT / ZDHC CERTIFIED</h3>
                    </div> -->
                    <h2 class="text-start">EXPORT / ZDHC CERTIFIED</h2>
                </div>
                <!-- <h2 class="sub_heading text-center">EXPORT / ZDHC CERTIFIED</h2> -->
                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right" data-aos-duration="1500">
                        <img src="assets/images/export-certified.jpg" class="w-100" alt="">
                    </div>
                    <div class="col-lg-8 export_info" data-aos="fade-left" data-aos-duration="1500">
                        <p><strong>As name indicates Zero Discharge of Hazardous Chemicals.</strong></p>
                        <p>ZDHC is an organization established in Amsterdam in 2015. It is dedicated to eliminating hazardous chemicals and promoting sustainable alternatives in the textile, and synthetic industries, contributing to a safer and more sustainable future.</p>
                        <p>ZDHC / EXPORT CERTIFICATION is a powerful platform for change, connecting the global textile industry to enable sustainable way of chemical management.</p>
                        <p>ZDHC / EXPORT Certified marks a crucial milestone in green sustainability. However, true progress demands the holistic integration of sustainable practices into continuous innovation. Furthermore, it’s not merely about meeting standards but also striving for excellence and fostering collaboration for a brighter future.</p>
                    </div>
                </div>
                <div>
                    <h3 class="sub_innerheading mt-5">Anti-Static Agents</h3>
                    <p>Eco-Friendly Solution with Antistatic and Moisture Retention Properties.<br>
                        Our sustainable options offer effective antistatic performance while helping fibers retain moisture, making them both practical and environmentally conscious.
                    </p>
                </div>
                <div class="row export_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/pacinol-lv-40.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Spin Eco LV 40</h5>
                                    <ul class="">
                                        <li>Eco LV 40 is a natural oil processed product.</li>
                                        <li>Recommended for Polyester, Nylon & Acrylic blend with cotton / viscose.</li>
                                        <li>Recommended for both Ring & Open-end Spinning system.</li>
                                    </ul>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-ECO-LV-40.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product_image-02.png" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Spin Eco LV 100</h5>
                                    <ul>
                                        <li>Eco LV 100 is a natural oil & synthetic oil processed product,</li>
                                        <li>Recommended for 100%Polyester, 100% Acrylic, 100% Nylon & PET fibre.</li>
                                        <li>Recommended for both Grey & Dyed Fibre Spinning.</li>
                                        <li>Recommended for Ring Spinning system.</li>
                                    </ul>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-ECO-LV-100.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-02.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">ECO LV 100</h5>
                                    <p>ECO LV 100 is Synthetic oil with chemically processed product & it is Eco-Friendly product.</p>
                                    <p>It is a special blend of Paraffin oils & binding agents.</p>
                                    <p><strong>Recommended used for Grey / Fresh Polyester & Acryllic.</strong></p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-ECO-LV-100.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-03.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Cottex MBO</h5>
                                    <p>Cottex MBO is chemically processed product & it is Eco-Friendly product.</p>
                                    <p>It is a special blend of Cationic agents & Binding agents.</p>
                                    <p><strong>Recommended used for Hard waste.</strong></p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Cottex-MBO.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-04.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Cottex MBO</h5>
                                    <p>Cottex MBO is chemically processed product & it is Eco-Friendly product.</p>
                                    <p>It is a special blend of Cationic agents & Binding agents.</p>
                                    <p><strong>Recommended used for Hard waste.</strong></p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Cottex-MBO.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!--  -->
                <h3 class="sub_innerheading mt-lg-5 mt-3">Binder</h3>
                <p>In spinning, both antistatic agents and binders play crucial roles. Antistatic agents prevent static buildup during high-speed operations, ensuring smoother processing.<br>
                    Binders enhance fiber cohesion, aid in moisture retention, and reduce friction, resulting in stronger, more uniform yarns. Together, they improve efficiency, quality, and sustainability in production.
                </p>
                <div class="row export_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-05.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Bind Eco 2152-P</h5>
                                    <ul>
                                        <li>It is a natural oil processed product.</li>
                                        <li>It Improves Yarn Strength.</li>
                                        <li>It also helps in improve CSP.</li>
                                        <li>Recommended for Ring Spinning system.</li>
                                    </ul>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-ECO-LV-40.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-06.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Bind Eco 2280</h5>
                                    <ul>
                                        <li>It is a Chemical/ Non-Ionic processed product.</li>
                                        <li>It Improves Yarn Strength.</li>
                                        <li>It also helps in improve CSP.</li>
                                        <li>Recommended for Open-end Spinning system.</li>
                                    </ul>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-ECO-LV-100.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-04.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Bind Eco 5280</h5>
                                    <ul>
                                        <li>Binder 5280 is chemically processed product & it is Eco-Friendly product.</li>
                                        <li>It is a special blend of Wax lubricants & binding agents.</li>
                                        <li>Recommended used with Eco LV80 & LV100 for 100% Polyester & Acryllic.</li>
                                    </ul>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-ECO-LV-100.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <h3 class="sub_innerheading mt-lg-5 mt-3">Hard Waste / Cloth cutting (Chindi) Spinning</h3>
                <div class="row export_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-02.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Spin Cottex MBO</h5>
                                    <ul>
                                        <li>It is a Chemical & oil processed product.</li>
                                        <li>It works as both an antistatic agent and a binder, playing crucial roles in hard waste Opening.</li>
                                        <li>It helps soften and opening hard waste, resulting in longer fiber, reduced breakage, and improved processing efficiency.</li>
                                        <li>It helps prevent fire accidents in spinning operations.</li>
                                        <li>Recommended for Open-end Spinning system.</li>
                                    </ul>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Cottex-MBO.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <!--  -->
                <h3 class="sub_innerheading mt-lg-5 mt-3">Other Textile Auxalaries</h3>
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/textile-product-01.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">OT Paste</h5>
                                    <p>Manufacturers use it as a powerful wetting agent, and as penetrating and dispersing agents for cotton.</p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/OT-.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product_image-02.png" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">OT/Washing Liquid</h5>
                                    <p>A powerful wetting agent, penetrating and dispersing agents for cotton. But it is mainly used in Dyeing industry.</p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/OT-.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/textile-product-03.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Knitiing oil</h5>
                                    <p>We have formulated knitting oil for efficient running of the machinery and to maximize needle life.</p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Knitting-oil.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/textile-product-04.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Conning oil</h5>
                                    <p>We offer range of conning oil lubricants which have been designed to improve coning performance on high-speed machines.</p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/conning-oil.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>