<div class="hero_section position-relative">
    <picture>
        <source media="(max-width:560px)" srcset="assets/images/hero-mblbanner.webp" alt="">
        <source media="(min-width:560px)" srcset="assets/images/hero-banner-1.webp" alt="">
        <img src="assets/images/hero-banner-1.webp" class="w-100" alt="">
    </picture>
    <div class="hero_title">
        <div class="hero_heading">
            <span>NEED OF TEXTILE</span>
        </div>
        <div class="hero_heading_default"><h1>AMAR TEX <br>CHEM</h1></div>
        <div>
            <strong>A NAME WHERE YOU CAN TRUST</strong>
        </div>
    </div>
</div>
<section class="about_section py-5">
    <div class="container">
        <h2 class="sub_heading">About Us</h2>
        <div class="row">
            <div class="col-lg-6 about_content">
                <span class="para_heading">Amar tex chem is one of the leading speciality chemical manufacturer in India.</span>
                <p>
                    with over 20 years of experience in the development and manufacturing of high-performance specialty chemicals for various applications, we have innovative as well as green (Eco-frierndly) chemical solutions. We continually develop and market innovative products to optimize and enhance our portfolio, providing intelligent solutions tailored to our customers’ needs.
                </p>
                <p>Our goal is to deliver the highest quality products while contributing to resource conservation.</p>
                <span class="para_heading">Amar Tex Chem is one of the ZDHC-certified chemical manufacturers in India.</span>
            </div>
            <div class="col-lg-6 about_img position-relative">
                <figure>
                    <img src="assets/images/about-image-2.jpg" alt="">
                    <img src="assets/images/about-image-1.webp" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
<section class="whyus_section py-5">
    <div class="container">
        <h2 class="sub_heading">Why Us</h2>
        <div class="row">
            <div class="col-lg-6">
                <figure style="clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);">
                    <img src="assets/images/Manufacturing-image.jpg" class="w-100" alt="">
                </figure>
            </div>
            <div class="col-lg-6 whyus_content">
                <span class="para_heading">We are manufacturing products with world class quality</span>
                <p>
                    We are committed to quality, driving innovation and continuous improvement. By enhancing quality, we create better products and services, satisfy customers, stay competitive, and build trust. This focus ensures our sustained success and growth.
                </p>
                <p>We are committed to sustainable practices at every stage of our operations, from sourcing raw materials to the final delivery of our products. Our focus is on minimizing waste, reducing our carbon footprint, and ensuring that our manufacturing processes are environmentally friendly.</p>
            </div>
        </div>
    </div>
</section>
<section class="whychooseus_section py-5">
    <div class="container">
        <h2 class="sub_heading text-center">Why Choose Us</h2>
        <div class="row chooseus_content">
            <div class="col-lg-4 chooseus_content_start">
                <div class="mb-2">
                    <span class="para_heading">ZDHC Certified</span>
                    <p>Eco friendly chemicals</p>
                </div>
                <div class="mb-2">
                    <span class="para_heading">Sustainable Process</span>
                    <p>we are commited to sustainable practices at every stage of our operations.</p>
                </div>
                <div class="mb-2">
                    <span class="para_heading">Msme Registered</span>
                    <p>Following Govt. Regulations</p>
                </div>
                <div class="mb-2">
                    <span class="para_heading">CBDO inJaipur, Ludhiana</span>
                    <p>For speedy solution to the customer support.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="assets/images/whychooseus-1.png" class="w-100" alt="">
            </div>
            <div class="col-lg-4 chooseus_content_last">
                <div class="mb-2">
                    <span class="para_heading">Cost Effective</span>
                    <p>Available at more that 10% price difference.</p>
                </div>
                <div class="mb-2">
                    <span class="para_heading">Tailored Product</span>
                    <p>We believe in providing tailor made products, as per the requirement for the export & domestic market.</p>
                </div>
                <div class="mb-2">
                    <span class="para_heading">Stock availability</span>
                    <p>We have sufficient raw material available to meet demands for over a year.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="popular_products py-5">
    <div class="container">
        <h2 class="sub_heading">Popular Products</h2>
        <div class="row product_content">
            <div class="col-lg-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="assets/images/product_image-03.png" class="w-100" alt="">
                        <div class="product_details">
                            ZDHC & Export CERTIFIED
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="assets/images/product_image-01.png" class="w-100" alt="">
                        <div class="product_details">
                            Anti-static Spin finish
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="assets/images/product_image-02.png" class="w-100" alt="">
                        <div class="product_details">
                            Wetting & Knitting oils
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="explore_btn"><a routerLink="/products" class="text-decoration-underline">Explore More..</a></div>
    </div>
</section>
