<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar_bg py-0 shadow">
        <div class="container">
          <a class="navbar-brand" routerLink="/home">
            <img src="assets/images/company-logo.png" class="img_logo" alt="" (click)="scrollToTop()">
          </a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRight">
            <ul class="navbar-nav align-items-lg-center ms-lg-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="aboutus" routerLinkActive="active">About Us</a>
              </li>
              <li class="nav-item nav_products">
                <div (click)="toggleAccordion('products')" class="accordian_mbl">
                  <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
                  <span class="toggle_icon" *ngIf="isMobile">
                    {{ isOpen['products'] ? '-' : '+'  }}
                  </span>
                </div>
                <ul class="nav-inner-item" [ngClass]="{ 'show': isMobile ? isOpen['products'] : true }">
                    <li><a class="nav-link nav-innerLink" [routerLink]="['/products/zdhcexport-certified']">Export Certified</a></li>
                    <li>
                        <div (click)="toggleAccordion('products_inner')" class="accordian_mbl">
                          <a class="nav-link nav-innerLink" [routerLink]="['/products/domestic-oriented']">Domestic Oriented Products</a>
                          <span class="toggle_icon" *ngIf="isMobile">
                            {{ isOpen['products_inner'] ? '-' : '+'  }}
                          </span>
                        </div>
                        <ul class="nav_subitems" [ngClass]="{ 'show': isMobile ? isOpen['products_inner'] : true }">
                            <li><a class="nav-link nav-innerLink" [routerLink]="['/products/antistatic-agents']">Antistatic Spin Finish</a></li>
                            <li><a class="nav-link nav-innerLink" [routerLink]="['/products/dyeing-auxillaries']">Dyeing Auxillaries</a></li>
                        </ul>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="contactus" routerLinkActive="active">Contact</a>
              </li>
              <!-- <li class="nav-item">
                <button class="search_btn" (click)="toggleSearch()"><img src="assets/images/search-icon.svg" alt=""></button>
                <form class="search_form" role="search" [class.hidden]="isSearchHidden">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit"><img src="assets/images/search-icon.svg" alt=""></button>
                  </form>
              </li> -->
            </ul>

            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
</header>
<div>
    <router-outlet></router-outlet>
</div>
<footer>
    <!-- <div class="footer_banner">
        <div class="contact">
            <img src="assets/images/whell-icon.svg" alt="">
            <p>24/7 Customer Support</p>
        </div>
    </div> -->
    <div class="footer_section py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-2 footer-items">
                    <a class="footer_logo" routerLink="/home" (click)="scrollToTop()">
                        <img src="assets/images/company-logo.png" class="img_logo" alt="">
                    </a>
                </div>
                <div class="col-lg-3 footer-items">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a routerLink="/aboutus">About Us</a></li>
                        <li><a routerLink="/contactus">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 footer-items">
                    <h4>Products</h4>
                    <ul>
                        <li><a [routerLink]="['/products/zdhcexport-certified']">Export Certified</a></li>
                        <li><a [routerLink]="['/products/domestic-oriented']">Domestic Oriented Products</a></li>
                        <li><a [routerLink]="['/products/antistatic-agents']">Antistatic Spin Finish</a></li>
                        <li><a [routerLink]="['/products/dyeing-auxillaries']">Dyeing Auxillaries</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- scroll to top for entire application -->
<div *ngIf="showScrollToTop" class="scroll-to-top" (click)="scrollToTop()">
  <img src="assets/images/scroll-arrow.svg" class="w-100" alt="">
</div>