<div class="">
    <div class="">
        <picture>
            <source media="(max-width:540px)" srcset="assets/images/product_bannerMbl.webp" alt="">
            <source media="(min-width:540px)" srcset="assets/images/product_banner04.webp" alt="">
            <img src="assets/images/product_banner04.webp" class="w-100" alt="">
        </picture>
        
     </div>
    <div class="py-3">
        <div class="container">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="home" class="text-decoration-none text-dark"><b>Home</b></a></li>
                    <li class="breadcrumb-item"><a routerLink="products" class="text-decoration-none text-dark"><b>Products</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Antistatic agents for textile spinning</li>
                </ol>
            </nav>
            <!-- breadcrumb ends -->

            <div class="export_content mt-5">
                <div class="section-title position-relative mb-4">
                    <!-- <div class="section-subtitle title_center">
                        <h3 class="">EXPORT / ZDHC CERTIFIED</h3>
                    </div> -->
                    <h2 class="text-start">ANTISTATIC AGENTS</h2>
                    <p data-aos="fade-up" data-aos-duration="1500">In textile spinning, static electricity can cause various issues such as yarn breakage, attraction of dust and particles. 
                    To combat these problems, our antistatic agents for textile spinning are engineered to dissipate static charges, ensuring a 
                    safer and more efficient working environment.
                    </p>
                    <p data-aos="fade-up" data-aos-duration="1500">
                        At Amar Tex Chem, we specialize in manufacturing and supplying high-quality Antistatic Agents for Textile Spinning. 
                        We take pride in ensuring that all our products are widely acclaimed for their balanced composition and exceptional 
                        performance. They provide excellent fibre-to-metal lubrication, enhance fibre-to-fibre cohesion for both natural and 
                        synthetic fibres, and their blends. Our clients consistently appreciate the outstanding results delivered by our products.
                    </p>
                </div>
                <h3 class="sub_innerheading mt-5">Anti-Static Agents</h3>
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-002.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Antistat LV40</h5>
                                    <p><strong>Recomended for PC & PV</strong></p>
                                    <p><strong>Recomended for Open-End Spinning system</strong></p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-LV-40.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/yellow-mustard.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Antistat LV80</h5>
                                    <p><strong>Recomended for Acrylic, Recycled, PET fibre & their blend.</strong></p>
                                    <p><strong>Recomended for Open-End Spinning system</strong></p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-LV-80.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/pacinol-lv-40.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Antistat LV90</h5>
                                    <p><strong>Recomended for PC & PV</strong></p>
                                    <p><strong>Recomended for Ring Spinning system</strong></p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/Antistat-ECO-LV-40.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-03.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Anti-Carbon</h5>
                                    <p><strong>Recomended for Removal of Carbon</strong></p>
                                    <p><strong>Recomended for Open-End Spinning system</strong></p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/MBO-88.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/textile-product-04.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">MBO 88 (Methyle Bronoxy Oil)</h5>
                                    <p><strong>Recomended for PC, PV, U.V CLEAR & Hard Waste</strong></p>
                                    <p><strong>Recomended for Open-End Spinning system</strong></p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/MBO-88.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="sub_innerheading mt-5">Antistatic Binders</h3>
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/textile-product-03.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Binder 2152</h5>
                                    <p>Binder 2152 is a natural oil-based, chemically processed product that is eco-friendly. It is a special blend of Castrol lubricants and binding agents.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/pacinol-lv-40.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Binder 5280</h5>
                                    <p>Binder 5280 is a chemically processed, eco-friendly product. It consists of a special blend of wax lubricants and binding agents.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/flask-with-water.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">PI 6600</h5>
                                    <p>Recomended for 100% Cotton Spinning</p>
                                    <p>Recomended for Open-End & Ring Spinning system</p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/PI-6600.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/textile-product-03.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">PI 4400</h5>
                                    <p>Recomended for 100% Cotton & PC (20/80), (40/60)</p>
                                    <p>Recomended for Open-End & Ring Spinning system</p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/PI-4400.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/textile-product-02.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">PI 270</h5>
                                    <p>Recomended for  UV Clear & Hard waste</p>
                                    <p>Recomended for Open-End & Ring Spinning system</p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/PI-4400.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/textile-product-03.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">CO 40</h5>
                                    <p>Recomended for 100% Cotton Spinning</p>
                                    <p>Recomended for Open-End & Ring Spinning system</p>
                                    <a href="https://amartexchem.com/wp-content/uploads/2024/06/MBO-88.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>