<div class="">
    <div class="">
        <picture>
            <source media="(max-width:540px)" srcset="assets/images/product_bannerMbl.webp" alt="">
            <source media="(min-width:540px)" srcset="assets/images/product_banner04.webp" alt="">
            <img src="assets/images/product_banner04.webp" class="w-100" alt="">
        </picture>
        
     </div>
    <div class="py-3">
        <div class="container">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none text-dark"><b>Home</b></a></li>
                    <li class="breadcrumb-item"><a routerLink="/products" class="text-decoration-none text-dark"><b>Products</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Antistatic Agents</li>
                </ol>
            </nav>
            <!-- breadcrumb ends -->

            <div class="export_content mt-5">
                <div class="section-title position-relative mb-4">
                    <!-- <div class="section-subtitle title_center">
                        <h3 class="">EXPORT / ZDHC CERTIFIED</h3>
                    </div> -->
                    <h2 class="text-start">ANTISTATIC AGENTS</h2>
                    <p data-aos="fade-up" data-aos-duration="1500">Our spinning chemicals are carefully formulated to meet the unique needs of 
                        the domestic spinning industry. They ensure smooth fiber processing, enhance yarn quality, and optimize machine 
                        performance, helping spinning units operate more efficiently and reliably.
                    </p>
                    <p data-aos="fade-up" data-aos-duration="1500">
                        With the added benefit of increasing CSP (Count Strength Product) by approximately 1-2%, our products deliver exceptional
                         results. Offered at highly competitive prices, they are a cost-effective and eco-friendly solution to boost productivity
                         and support sustainable practices.
                    </p>
                </div>
                <!-- <h3 class="sub_innerheading mt-5">Antistatic Spinning Agents & Binder</h3> -->
                <div class="row py-5 antistic_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-13.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Spin LV 40</h5>
                                    <ul>
                                        <li>It is a natural oil processed product.</li>
                                        <li>Recommended for Polyester & Acrylic blend with cotton / viscose.</li>
                                        <li>Recommended for Panipat Open-End System.</li>
                                        <li>Recommended for both Ring & Open-end Spinning system.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="/assets/pdf/antistic_oil/amar_spin_lv_40.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/pacinol-lv-40.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Spin LV 80</h5>
                                    <ul>
                                        <li>Recommended for below 80% Polyester/ Synthetic fibre.</li>
                                        <li>It is a natural oil & synthetic oil processed product.</li>
                                        <li>Recommended for Polyester & Acrylic blend with Cotton / viscose.</li>
                                        <li>Recommended for Open-end Spinning system.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="/assets/pdf/antistic_oil/amar_spin_lv_40.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-03.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title"> Amar Spin LV 100</h5>
                                    <ul>
                                        <li>Recommended for below 100% Polyester/ Synthetic fibre.</li>
                                        <li>It is a natural oil & synthetic oil processed product.</li>
                                        <li>Recommended for Polyester & Acrylic blend with Cotton / viscose.</li>
                                        <li>Recommended for both Ring & open-end Spinning system.</li>
                                    </ul> 
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="/assets/pdf/export/amar_spin_ecolv_100.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/textile-product-04.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">MBO 88 (Methyle Bronoxy Oil)</h5>
                                    <p><strong>Recomended for PC, PV, U.V CLEAR & Hard Waste</strong></p>
                                    <p><strong>Recomended for Open-End Spinning system</strong></p>
                                    <a href="/assets/pdf/antistic_oil_amar_spin_mbo_88.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!--  -->
                <h3 class="sub_innerheading">Binder</h3>
                <p>
                    Binders enhance fiber cohesion, retain moisture, and reduce friction, ensuring smoother processing. 
                    This results in stronger, more uniform yarns while boosting efficiency, quality, and sustainability in production.
                </p>
                <div class="row antistic_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-15.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Bind 2152-P</h5>
                                    <ul>
                                        <li>It is a natural oil processed product.</li>
                                        <li>It Improves Yarn Strength.</li>
                                        <li>It also helps in improve CSP.</li>
                                        <li>Recommended for Open-End Spinning system.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="assets/images/product-16.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Bind 5280</h5>
                                    <ul>
                                        <li>It is a Chemical/ Non-Ionic processed product.</li>
                                        <li>It Improves Yarn Strength.</li>
                                        <li>It also helps in improve CSP.</li>
                                        <li>Recommended for Ring Spinning system.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <h3 class="sub_innerheading mt-lg-5 mt-3">Hard Waste / Cloth cutting (Chindi) Spinning</h3>
                <div class="row antistic_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-002.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Amar Spin MBO 88</h5>
                                    <ul>
                                        <li>It is a Chemical & oil processed product.</li>
                                        <li>It works as both an antistatic agent and a binder, playing crucial roles in hard waste Opening.</li>
                                        <li>It helps soften and opening hard waste, resulting in longer fiber, reduced breakage, and improved processing efficiency.</li>
                                        <li>It helps prevent fire accidents in spinning operations.</li>
                                        <li>Recommended for Open-end Spinning system.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-auto pt-0 p-3">
                                <a href="/assets/pdf/antistic_oil/amar_spin_mbo_88.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div> 
                    <!-- <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-18.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">PI4400/6600</h5>
                                    <ul>
                                        <li>It works as both an antistatic agent and a binder.</li>
                                        <li>Recomended for  PC (20/80), (40/60).</li>
                                        <li>Recomended for Open-End Spinning system.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="/assets/pdf/antistic_oil/pi_6600.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!--  -->
                <h3 class="sub_innerheading mt-lg-5 mt-3">Amar Spin R1661 (for 100% Cotton)</h3>
                <div class="row antistic_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-002.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">R1661</h5>
                                    <ul>
                                        <li>It is a Chemical & oil processed product.</li>
                                        <li>It works as both an antistatic agent and a binder.</li>
                                        <li>Recomended for 100% Cotton Spinning.</li>
                                        <li>Recomended for Open-End & Ring Spinning system</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-auto pt-0 p-3">
                                <a href="/assets/pdf/antistic_oil/r1661.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <h3 class="sub_innerheading mt-lg-5 mt-3">Anti Carbon</h3>
                <div class="row antistic_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-18.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Anti carbon</h5>
                                    <ul>
                                        <li>It is a Chemical & oil processed product.</li>
                                        <li>It works as both an antistatic agent and a binder.</li>
                                        <li>It is best for removing cabron in open-end system.</li>
                                        <li>Recommended for Open-end Spinning system.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="/assets/pdf/antistic_oil/amar_spin_mbo_88.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <h3 class="sub_innerheading mt-lg-5 mt-3">Yarn conditioner</h3>
                <div class="row antistic_main">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body pb-0">
                                <img src="assets/images/product-18.jpg" class="w-100" alt="">
                                <div class="pt-3">
                                    <h5 class="card-title">Lubrisol 25</h5>
                                    <ul>
                                        <li>Ideal for cone packing, TFO, and doubling cheeses and cones.</li>
                                        <li>A chemically processed product.</li>
                                        <li>Moisturizes the yarn.</li>
                                        <li>Controls fly generation.</li>
                                        <li>Assists in twist setting.</li>
                                        <li>Reduces snarling.</li>
                                        <li>Specifically designed for cone packing, TFO, and doubling processes.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pt-0 p-3 mt-auto">
                                <a href="/assets/pdf/antistic_oil/pi_6600.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-success text-white rounded-0">CLICK HERE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
