<div class="">
    <div class="">
        <picture>
            <source media="(max-width:540px)" srcset="assets/images/certification-mblbanner.jpg" alt="">
            <source media="(min-width:540px)" srcset="assets/images/certification-banner.jpg" alt="">
            <img src="assets/images/certification-banner.jpg" class="w-100" alt="">
        </picture>
    </div>
    <div class="py-3">
        <div class="container">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="home" class="text-decoration-none text-dark"><b>Home</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Certifications</li>
                </ol>
            </nav>
            <!-- breadcrumb ends -->
            <div class="my-4">
                <div>
                    <p>At Amar Tex Chem, we prioritize quality and compliance to ensure our products meet the highest industry standards. 
                        Our certifications demonstrate our commitment to environmental sustainability, product safety, and regulatory compliance.</p>
                    <p>We provide Material Safety Data Sheets (MSDS) for all our products, outlining safety, handling, and disposal guidelines.</p>
                    <p>All our products undergo rigorous testing to meet global safety and environmental standards.</p>
                    <p>For more details, you can download the certification documents from the links provided.</p>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="card p-4 shadow">
                            <h4 class="card-title mb-4 text-center">Certifications</h4>
                            <div class="pdf-list">
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <a href="/amartexchem/assets/pdf/certificate/delc23004703-att1.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="/assets/images/pdf-icon.svg">
                                            <span class="d-block mt-3 text-success">Click here</span>
                                        </a>
                                    </div>
                                    <div class="col-5">
                                        <a href="/amartexchem/assets/pdf/certificate/delc23004704-mcoc.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="/assets/images/pdf-icon.svg">
                                            <span class="d-block mt-3 text-success">Click here</span>
                                        </a>
                                    </div>
                                </div>                                          
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="card p-4 shadow">
                            <h4 class="card-title mb-4 text-center">MSDS</h4>
                            <div class="pdf-list">
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <a href="/amartexchem/assets/pdf/certificate/msdscottexmbo.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="/assets/images/pdf-icon.svg">
                                            <span class="d-block mt-3 text-success">Click here</span>
                                        </a>
                                    </div>
                                    <div class="col-5">
                                        <a href="/amartexchem/assets/pdf/certificate/msdsecolv40.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="/assets/images/pdf-icon.svg">
                                            <span class="d-block mt-3 text-success">Click here</span>
                                        </a>
                                    </div>
                                </div>                                          
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-4">
                        <div class="card p-4 shadow">
                            <h4 class="card-title mb-4 text-center">Test Reports</h4>
                            <div class="pdf-list">
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <a href="/amartexchem/assets/pdf/certificate/delc23004703.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="/assets/images/pdf-icon.svg">
                                            <span class="d-block mt-3 text-success">Click here</span>
                                        </a>
                                    </div>
                                    <div class="col-5">
                                        <a href="/amartexchem/assets/pdf/certificate/delc23004704.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="/assets/images/pdf-icon.svg">
                                            <span class="d-block mt-3 text-success">Click here</span>
                                        </a>
                                    </div>
                                </div>                                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>