<div class="">
    <div class="">
        <picture>
            <source media="(max-width:540px)" srcset="assets/images/certification-mblbanner.jpg" alt="">
            <source media="(min-width:540px)" srcset="assets/images/certification-banner.jpg" alt="">
            <img src="assets/images/certification-banner.jpg" class="w-100" alt="">
        </picture>
    </div>
    <div class="py-3">
        <div class="container">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="home" class="text-decoration-none text-dark"><b>Home</b></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Certifications</li>
                </ol>
            </nav>
            <!-- breadcrumb ends -->
            <div class="my-4 certification_main">
                <div class="pb-4">
                    <p>At Amar Tex Chem, we prioritize quality and compliance to ensure our products meet the highest industry standards. 
                        Our certifications demonstrate our commitment to environmental sustainability, product safety, and regulatory compliance.</p>
                    <p>We provide Material Safety Data Sheets (MSDS) for all our products, outlining safety, handling, and disposal guidelines.</p>
                    <p>All our products undergo rigorous testing to meet global safety and environmental standards.</p>
                    <p>For more details, you can download the certification documents from the links provided.</p>
                </div>
                <div class="row">
                    <div class="accordion accordion-flush col-lg-8 mx-auto" id="accordionFlush">
                        <div class="accordion-item border">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#certifications" aria-expanded="true" aria-controls="certifications">
                                Certifications
                            </button>
                          </h2>
                          <div id="certifications" class="accordion-collapse collapse show" data-bs-parent="#accordionFlush">
                            <div class="accordion-body">
                                <div class="pdf-list">
                                    <div class="">
                                        <a href="/amartexchem/assets/pdf/certificate/delc23004703-att1.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="assets/images/icon-pdf.svg">
                                            <span class="d-block mt-3 text-success">DELC23004703-ATT1</span>
                                        </a>
                                    </div>
                                    <div class="">
                                        <a href="/amartexchem/assets/pdf/certificate/delc23004704-mcoc.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="assets/images/icon-pdf.svg">
                                            <span class="d-block mt-3 text-success">DELC23004704-MCOC</span>
                                        </a>
                                    </div>                                         
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item border">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#msds" aria-expanded="false" aria-controls="msds">
                                MSDS
                            </button>
                          </h2>
                          <div id="msds" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
                            <div class="accordion-body">
                                <div class="pdf-list">
                                    <div class="">
                                        <a href="/amartexchem/assets/pdf/msds/msdscottexmbo.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="assets/images/icon-pdf.svg">
                                            <span class="d-block mt-3 text-success">MSDS COTTEX MBO</span>
                                        </a>
                                    </div>
                                    <div class="">
                                        <a href="/amartexchem/assets/pdf/msds/msdsecolv40.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="assets/images/icon-pdf.svg">
                                            <span class="d-block mt-3 text-success">MSDS ECO L-V 40</span>
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item border">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#testReports" aria-expanded="false" aria-controls="testReports">
                                Test Reports
                            </button>
                          </h2>
                          <div id="testReports" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
                            <div class="accordion-body">
                                <div class="pdf-list">
                                    <div class="">
                                        <a href="/amartexchem/assets/pdf/test-report/delc23004703.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="assets/images/icon-pdf.svg">
                                            <span class="d-block mt-3 text-success">DELC23004703</span>
                                        </a>
                                    </div>
                                    <div class="">
                                        <a href="/amartexchem/assets/pdf/test-report/delc23004704.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link mt-2 w-100 border-0">
                                            <img src="assets/images/icon-pdf.svg">
                                            <span class="d-block mt-3 text-success">DELC23004704</span>
                                        </a>
                                    </div>                                        
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
