/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
    color: #000 !important;
}
.img_logo{
    width: 115px;
}
@font-face {
    font-family: 'Russo One';
    src: url('assets/fonts/RussoOne-Regular.woff2') format('woff2'),
        url('assets/fonts/RussoOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* navigation styling starts */
/* .navigation_items ul{
    display
} */
 .nav-inner-item{
    display: none;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 0;
    position: absolute;
    top: 90%;
    right: -10px;
    z-index: 1;
    white-space: nowrap;
    background-color: #fff;
 }
 .nav-inner-item li{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
 }
 .nav-inner-item li:nth-of-type(2) ul{
    display: none;
 }
 .nav-inner-item li:hover:nth-of-type(2) ul {
    display: block;
    position: absolute;
    right: -79%;
    bottom: -50%;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
}
 .nav-item{
    font-size: 20px;
    padding: 10px 0;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
 }
 .nav_products{
    position: relative;
 }
 .nav_products:hover .nav-inner-item{
    display: block;

 }
 .search_btn{
    border: none;
    background: none;
 }
 .search_btn img{
    height: 25px;
 }
 .search_form{
    display: flex;
    padding: 40px;
 }
 .hidden {
    display: none;
  }
.search_form {
    /* display: flex; */
    padding: 10px;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    bottom: -64px;
    right: 14%;
    transition: all ease-in 5s;
}
/* navigation styling ends */

/* footer styling */
.footer-items h4{
    color: #fff;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}
.footer-items ul li{
    color: #fff;
    font-size: 18px;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    border-bottom: 1px dotted #fff;
    padding: 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer_banner{
    background-image: url('assets/images/footer-banner.jpg');
    background-size: cover;
    width: 100%;
}
.footer_banner .contact{
    width: 50%;
    margin: auto;
    padding: 30px;
    text-align: center;
}
.footer_banner .contact p{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.footer-items ul{
    padding-left: 0;
}
.footer-items ul li::before {
    content: '';
    background: url('assets/images/chevron-right.svg') no-repeat center;
    width: 20px;
    height: 20px;
    display: block;
    background-size: 38%;
}
/* ends */
/* scrollToTop */
/* app.component.css */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #6c757d;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
  }
  .scroll-to-top:hover {
    background-color: #6c757d;
  }
  
/* scrollToTop ends */
/* homepage styling */
.hero_title{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 35%;
    width: 630px;
}
.hero_heading{
    padding: 8px 0px 8px 0px;
    border-style: double;
    border-width: 3px 0px 3px 0px;
    border-color: #000;
    display: inline-block;
    margin-bottom: 15px;
}
.hero_heading span{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.hero_heading_default h1{
    color: #242424DB;
    font-family: 'Russo One', Sans-serif;
    /* font-family: "Russo One", Sans-serif; */
    font-size: 115px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 23px 25px rgba(0, 0, 0, 0.3);
    line-height: 0.8;
    padding: 10px 0;
}
/* ends */
.sub_heading{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 58px;
    margin-bottom: 30px;
}
.about_section .about_content{
    border-radius: 10px;
}
.para_heading{
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.about_section p,
.whyus_section .whyus_content p,
.chooseus_content p,
.products_info p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.whychooseus_section{
    background-color: #fbede4;
}
.whychooseus_section .para_heading{
    font-size: 32px;
    color: #1c4094;
}
.chooseus_content .chooseus_content_start{
    margin: auto 0;
    text-align: end;
}
.chooseus_content .chooseus_content_last{
    margin: auto 0;
    text-align: start;
}
.explore_btn{
    text-align: end;
    padding: 30px;
}
.popular_products .product_content .product_details {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0 0;
    text-align: center;
}
.explore_btn a{
    font-size: 24px;
}
/* products styling */
.card-details .card-title{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.card-details p{
    font-size: 18px;
    margin: 0;
}
.sub_innerheading {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 30px;
}
.export_content .export_info p{
    font-size: 20px;
}
/* products styling ends */
@media (min-width: 991px){
    .about_section .about_img img:last-child{
        position: absolute;
        bottom: 0;
        right: 1px;
        border-bottom-right-radius: 30px;
    }
    .about_section .about_img img:first-child{
        width: 450px;
        height: 300px;
        border-top-left-radius: 30px;
    }
    .nav-inner-item,.nav-inner-item li:hover:nth-of-type(2) ul{
        border-top: 2px solid #be2509;
    }
}
@media (max-width: 990px){
    .about_section .about_img img{
        width: 100%;
        margin-bottom: 10px;
    }
    .hero_title {
        left: 38%;
        width: auto;
        line-height: 0.5;
    }
    .hero_heading_default h1{
        font-size: 30px;
        margin: 0;
    }
    .hero_heading span{
        font-size: 14px;
        white-space: nowrap;
        letter-spacing: 4px;
    }
    .hero_heading{
        margin-bottom: 0;
    }
    .hero_title div strong{
        line-height: 1;
    }
    .sub_heading{
        font-size: 36px;
    }
    .para_heading{
        font-size: 22px;
    }
    .about_section p, .whyus_section .whyus_content p, .chooseus_content p{
        font-size: 16px;
    }
    .chooseus_content .chooseus_content_start{
        text-align: start;
    }
    .explore_btn{
        padding: 10px 30px;
    }
    .footer_banner .contact{
        width: auto;
    }
    .footer-items{
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-items img{
        margin-bottom: 10px;
    }
    .offcanvas.offcanvas-end{
        width: 76% !important;
    }
    .nav-item{
        margin-right: 0;
        padding: 0;
    }
    .nav-item a{
        padding: 10px 20px;
    }
    .nav-item:last-child{
        display: none;
    }
    .img_logo {
        width: 80px;
    }
}